@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
}

main {
  padding: 2rem;
  background-color: #e9ecef;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.display {
  border-radius: 0.5rem;
  height: 100px;
  background-color: #ecf8f8;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0rem 1rem;
  color: #495057;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* CSS */
.key, .operators {
  align-items: center;
  background: #f8f9fa;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #212529;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: all 2s;
}

.key:active {
  transform: translateY(1px);
  background: #efeff0;
}

.reset,
.equal {
  grid-column: span 2;
}

.delete {
  background-color: #e5383b;
  color: #ffffff;
}

.reset {
  /* background-color: #14213d; */
  color: #ffc15c;
}

.equal {
  background-color: #00509d;
  color: #ecf8f8;
}

.delete:active{
    background-color: #d63638;
}

.equal:active{
    background-color: #004586;
}